
@font-face {
    font-family: Geomanist;
    src: url(../../font/geomanist/geomanist-ultra-webfont.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-black-webfont.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-bold-webfont.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-book-webfont.ttf);
    font-weight: 450;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-extralight-webfont.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-light-webfont.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-medium-webfont.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-regular-webfont.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-thin-webfont.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Geomanist;
    src: url(../font/geomanist/geomanist-ultra-webfont.ttf);
    font-weight: 800;
}
