/*
* Resetea todos los hipervínculos
*/
a,a:link,a:hover,a:visited{
  color: inherit;
  text-decoration: none;
}
/*
* Quita spinbox en input[type=number]
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
